@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Outfit", sans-serif;

}
a{
  text-decoration: none;
  display: inline-block;
}
ul,ol{
  list-style: none;
}

.listItem{
  display: flex;
  gap: 40px;
  margin: 0 auto;
  
}

.listItem li{
  font-size: 21px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: #373737;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}
.listItem li:hover{
  color: tomato;
}
.listItem .navitemone{
  margin-left: 40px;
}
.navbtn{
  display: flex;
  gap: 40px;
}
button{
  background: #ffff;
  padding: 12px 18px;
  border-radius: 72px;
  -webkit-border-radius: 72px;
  -moz-border-radius: 72px;
  -ms-border-radius: 72px;
  -o-border-radius: 72px;
  font-size: 21px;
  font-weight: 700;
  color: #373737;
  margin-top: 22px;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
  border: none;
}
button:hover{
  cursor: pointer;
  color: tomato;
}
.navbtn img{
  width: 35px;
  height: 35px;
 margin-top: 30px ;
}

#banner{
  position: relative;
  margin-bottom: 452px;
}
.banner_img_part img{
  position: absolute;
  right: 0;
  top: -95px;
  z-index: -1;

}
.banner_text_part h1{
  font-size: 60px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: #4C4C4C;
  margin-top: 241px;
  width: 593px;
  height: 237px;

}
.banner_text_part p{
  font-size: 21px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: #828282;
  width: 460px;
  color: #828282;
  margin-top: 48px;



}

.banner_text_part button{
  padding: 30px 50px;
  background: #FE9E0D;
  color: #ffff;
  display: flex;
  gap: 15px;
  margin-top: 48px;
}
.banner_text_part button .icon{
  margin-top: 6px;
}
.food img{
  position: absolute;
  right: 150px;
}

#about{
  margin-bottom: 252px;
  position: relative;
}

.about_bg img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about_img{
 position: absolute;
 left: 60px;
 margin-top: 50px;
 
}
.about_text_part h3{

  font-size: 25px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: #F4980D;
}
.about_text_part h2{

  font-size: 60px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: #4C4C4C;
  margin-bottom: 40px;
}
.about_text_part .pone{

  font-size: 25px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: #828282;
}
.about_text_part .ptwo{

  font-size: 25px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: #828282;
}

.about_btn_part{
  display: flex;
  gap: 40px;
}
.about_btn_part a{
  margin-top: 40px;
  color: #373737;
  margin-left: 20px;
  font-size: 25px;
  font-weight: 600;
 
}
.about_btn_part a.value{
  margin-top: 40px ;

  

}

.about_btn_part a .play_icon{
  padding: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #484848;
  color: #ffff;
  margin-right: 20px;
}
.about_btn_part button{
  padding: 18px 32px;
background: #FE9E0D;
color: #ffff;
margin-top: 40px;
}

#work{
  margin-top: 510px;
  margin-bottom: 220px;
}

.work-heading{
  text-align: center;
}
.work-heading h3{
  font-size: 25px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: #F4980D;

}
.work-heading h2{
  font-size: 60px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  color: #4C4C4C;
  margin-top: 35px;

}
.work-heading p{
  font-size: 25px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: #828282;
  margin-top: 35px;
  width: 717px;
  margin: 0 auto;
  margin-bottom: 120px;

}
.workItem{
  padding: 21px 20px;
  /* background: #ffff;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75); */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  height: fit-content;
}
.workItem h3{
  font-size: 30px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  margin-top: 50px;
  color: #505050;

}
.workItem p{
  color: #474747;
  font-size: 20px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  margin-top: 50px;
}
.workItem img{
max-width: 100%;
}
.test_heading{
  text-align: center;
}
#testomonial{
  margin-bottom: 209px;
}
.test_heading{
  margin-bottom: 100px;
}
.test_heading h3{
  color: #F4980D;
  font-size: 25px;
  font-weight: 700;
}
.test_heading h2{
  font-size: 60px;
  font-weight: 700;
  color: #4C4C4C;
  margin-top: 35px;
}

.test_heading p{
  color: #828282;
  font-size: 25px;
  font-weight: 600;
  width: 717px;
  margin: 0 auto;
  margin-top: 35px;
}
.test_review{
  width: 928px;
  height: 454px;
  background: #ffff;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75); 
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center;
  margin-bottom: 200px;
}

.test_review img{
  margin-top: 10px;
  margin-bottom: 35px;
}

.test_review p{
  font-size: 25px;
  font-weight: 600;
  color: #515151;
  width: 670px;
  margin: 0 auto;
}
.test_review ul{
  display: flex;
justify-content: center;
gap: 5px;
margin-top: 35px;

}
.test_review ul li{
  color: #FE9E0D;
}
.test_review h3{
  font-size: 30px;
  font-weight: 600;
  color: #1C1C1C;
  margin-left: 10px;

  
}
.test_input{
  text-align: center;
}
.test_input h2{
  font-size: 60px;
  font-weight: 700;
  color: #4C4C4C;
  width: 700px;
  margin: 0 auto;
  margin-bottom:100px ;

}
.test_input input{
 border: none;
 width: 900px;
 height: 110px;
 border-radius: 30px;
 -webkit-border-radius: 30px;
 -moz-border-radius: 30px;
 -ms-border-radius: 30px;
 -o-border-radius: 30px;
}
input::placeholder{

font-size: 30px;
color: #8D8D8D;
font-weight: 600;
}
.input_btn{
  position: relative;
  text-align: center;
}
.input_btn button{
 position: absolute;
 top: 0 ;
 right: 250px;
 padding: 26px 60px;
 background: #FE9E0D;
 color: #ffff;
}